<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparq">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".application.SPARQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".application.userinterface.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.ConverstaionThreadActivity"
            android:label="@string/title_activity_converstaion_thread"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.AnswerActivity"
            android:label="@string/title_activity_answer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.QuestionareActivity"
            android:label="@string/title_activity_questionare"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.userinterface.NewEventActivity"
            android:label="@string/title_activity_new_event"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.NewQuestionareActicity"
            android:label="@string/title_activity_new_questionare_acticity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.QuestionareResultsActivity"
            android:label="@string/title_activity_poll_results"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.userinterface.QuestionareResultsPerQuestionActivity"
            android:label="@string/title_activity_poll_results_per_question"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <!-- <provider android:name="application.userinterface.database.ApplicationContentProvider" -->
        <!-- android:authorities="com.sparq.application.userinterface.database.ApplicationContentProvider"/> -->


        <!-- <receiver android:name=".application.userinterface.EventActivity$UIReceiver" android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.sparq.application.UI_ENABLE_INTENT"></action> -->
        <!-- <action android:name="com.sparq.application.UI_DISABLE_INTENT"></action> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
    </application>

</manifest>